body{
    border: 1px solid black;
}
content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db; 
    flex-basis: 50%;
    width: 30%;
    /* margin-top: -1000px; */
    margin: auto;
    border-radius: 50%;
    /* align-self: center; */
    /* border: 1px solid black; */
    width: 150px;
    height: 150px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
header{
    display:flex;
    height: 80%;
    height: 15vh;
    margin-top: 20px;
    justify-content: center;
    /* border: 1px solid black; */
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
    /* background-color: black; */
    /* color: white; */
}
.header-first{
    /* border: 1px solid black; */
    column-gap: 5%;
    display: flex;
    width: 100%;
    height: 40%;
    justify-content: start;
}
.home{
    flex-basis: 5%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search{
    height: 100%;
    width: 30%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: start;
    align-items: center;
}
.search_item{
    height: 70%;
    width: 50%;
    /* border: 1px solid black; */
    font-size: 18px;
    /* text-align: center; */
}
.sign{
    flex-basis: 20%;
    height: 100%;
    display: flex;
    /* border: 1px solid black; */
    /* align-self: end; */
    justify-content: space-between;
    align-items: center;
    margin-left: 40%;
}
.signin, .signup{
    flex-basis: 30%;
    height: 50%;
    /* border: 1px solid black; */
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
}
.start{
    text-decoration: none;
    color: black;
    /* border: 1px solid black; */
}
.category-container{
    /* border: 1px solid black; */
    display: flex;
    width: 80%;
    height: 40%;
    justify-content: space-between;
    align-items: center;
    /* column-gap: 80px; */
}
.category{
    margin-left: 0;
    flex-basis: 20%;
    height: 120%;
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
    /* border: 1px solid black; */
}
content{
    height: 300vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    background-color: rgb(247, 242, 242);
}
.content-container{
    display: flex;
    height: 100%;   
    width: 95%;
    /* flex-direction: 'column'; */
    flex-wrap: wrap;
    justify-content: 'center';
    align-items: 'center';
    /* border: 1px solid black; */
}
.product:hover{
    border: 1px solid black;
    height: 23%;
    width: 28%;
    box-shadow: 1px 1px 10px 1px;
}
.category{
    /* border: 1px solid black; */
    border-radius: 15px;
    width: 60%;
    height: 60%;
    /* color: blue; */
    color: black;
}
.category:hover{
    background-color: black;
    border: 1px solid black;
    color: white;
}
@media(max-width: 600px){
    header{
        width: 95%;
        /* border: 1px solid black; */
        column-gap: 0;
    }
    .home{
        margin-left: 2%;
        /* border: 1px solid black; */
    }
    .category-container{
        column-gap: 15px;
        width: 75%;
        /* padding-left: -30px; */
        /* border: 1px solid black; */
        justify-content: space-between;
        /* align-items: start; */
    }
    .category{
        font-size: 13px;
        /* border: 1px solid black; */
    }

    .product-list{
        flex-direction: column;
        border: 1px solid black;
    }
    .product_container{
        border: 1px solid black;
    }
    
}