body{
    /* border: 1px solid black; */
}
header{
    display:flex;
    height: 80%;
    height: 10vh;
    margin-top: 20px;
    justify-content: start;
    /* border: 1px solid black; */
    flex-direction: row;
    align-items: start;
    column-gap: 6%;
    flex-wrap: wrap;
    /* background-color: black; */
    /* color: white; */
}
.home{
    flex-basis: 5%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.start{
    text-decoration: none;
    color: black;
    /* border: 1px solid black; */
}
.category-container{
    /* border: 1px solid black; */
    display: flex;
    width: 70%;
    height: 80%;
    justify-content: center;
    /* align-items: end; */
    column-gap: 80px;
}
.category{
    margin-left: 0;
    /* flex-basis: 25%; */
    height: 100%;
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
    /* border: 1px solid black; */
}
content{
    height: 300vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    background-color: rgb(247, 242, 242);
}
.content-container{
    display: flex;
    height: 100%;   
    width: 95%;
    /* flex-direction: 'column'; */
    flex-wrap: wrap;
    justify-content: 'center';
    align-items: 'center';
    /* border: 1px solid black; */
}
@media(max-width: 600px){
    header{
        width: 95%;
        /* border: 1px solid black; */
        column-gap: 0;
    }
    .home{
        margin-left: 2%;
        /* border: 1px solid black; */
    }
    .category-container{
        column-gap: 15px;
        width: 75%;
        /* padding-left: -30px; */
        /* border: 1px solid black; */
        justify-content: space-between;
        /* align-items: start; */
    }
    .category{
        font-size: 13px;
        /* border: 1px solid black; */
    }

    .product-list{
        flex-direction: column;
        border: 1px solid black;
    }
    .product_container{
        border: 1px solid black;
    }
    
}